// COLOR
$primary-color: #4d2268;
$secondary-color: #272727;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #6d6d6d;
$color-red: #dd3030;
$color-green: #20da7d;
$color-violet: #ce3192;
$color-blue: #e7e3ffcb;
$color-violet--darken: #2a0b3b;

// FONT-size
$font-8: 8px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
$font-36: 36px;
$font-48: 48px;
$font-80: 80px;

// FONT-WEIGHT
$font-w-100: 100;
$font-w-300: 300;
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;
$font-w-900: 900;

//FONT-FAMILY
$fontfamily: 'Poppins', sans-serif;